body {
  background-repeat: repeat;
  font-family: 'Titillium Web', sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', sans-serif !important;
  color: #95b2ea !important;
  font-weight: 100 !important;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcSo_WB_cotcEMUw1LsIE8mM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
a {
  text-decoration: none;
}
a:hover {
  color: #4074d9 !important;
}
textarea {
  max-width: 100%;
  overflow-x: hidden;
}
.fieldset_800 {
  max-width: 800px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 15px #888888;
}
.admin_ul {
  float: right;
  position: relative !important;
  bottom: 30px;
  text-align: right;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}
.football {
  position: absolute;
  font-size: 250px !important;
  opacity: 0.2;
  right: 350px;
  top: 40px;
}
.nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  background-color: #262626;
  color: white;
  z-index: 9999;
}
.nav .wrapper {
  width: 95%;
  max-width: 1300px;
  margin: auto;
  position: relative;
}
.nav .wrapper .nav_logo {
  height: 90px;
  width: auto;
  position: relative;
}
.nav .wrapper .nav_btns {
  width: auto;
  position: absolute;
  top: 30px;
  right: 10px;
  margin: auto;
}
.nav .wrapper .nav_btns button {
  margin-left: 20px;
  transition: 25ms ease-in;
}
.nav i {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 20px;
  display: none;
  cursor: pointer;
}
.nav .credits {
  position: relative;
  left: 18px;
}
.sub_nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  height: 30px;
  background-color: #404040;
  color: #95b2ea;
  z-index: 9999;
}
.sub_nav .wrapper {
  width: 95%;
  max-width: 1300px;
  margin: auto;
}
.sub_nav .wrapper a {
  color: #95b2ea !important;
}
.sub_nav .wrapper a:hover {
  font-weight: 600;
}
.sub_nav .wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  top: 2px;
}
.sub_nav .wrapper ul li {
  display: inline;
  margin-right: 50px;
}
.mobile_menu {
  position: fixed;
  background-color: #404040;
  top: 70px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  right: 0;
  display: none;
  opacity: 0.98;
  z-index: 9999;
}
.mobile_menu a {
  color: white;
  text-decoration: none;
}
.mobile_menu ul {
  display: block;
  list-style: none;
  width: 100%;
  color: white !important;
  margin: auto;
  padding-left: 40px;
  margin-top: 10px;
  min-width: 315px;
}
.mobile_menu ul li {
  margin: auto;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 25ms ease-in;
}
.mobile_menu ul li i {
  width: 30px;
}
.mobile_menu ul li:hover {
  color: #95b2ea;
}
.mobile_menu hr {
  color: white;
  background-color: white;
}
.content {
  width: 100%;
  height: auto;
  margin-top: 130px;
}
.content .wrapper {
  width: 95%;
  max-width: 1300px;
  margin: auto !important;
  padding: 20px 0;
}
.wrapper .fp_info {
  position: relative;
  margin-top: 140px;
}
.wrapper .fp_info h1 {
  color: #262626;
}
.wrapper_medium {
  max-width: 800px;
  margin: auto;
  padding: 40px;
}
.wrapper_medium h2 {
  text-align: center;
}
.slider {
  background-repeat: no-repeat;
  min-height: 500px;
  height: auto;
  position: relative;
}
.slider .s_content {
  color: white !important;
  margin: auto;
  text-align: center;
  padding-top: 200px;
  max-width: 800px;
  width: 90%;
}
.slider .s_content h3 {
  color: white;
  font-size: 30px;
}
.slider .s_content h2,
.slider .s_content h4,
.slider .s_content h5,
.slider .s_content h6 {
  color: white;
}
.slider .s_content hr {
  border: 1px solid white;
  color: white;
  margin-bottom: 10px;
}
.comp_choice {
  padding-top: 20px;
  padding-bottom: 50px;
}
.comp_choice .wrapper .cc_unit {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 10px;
  transition: 75ms ease-in;
}
.comp_choice .wrapper .cc_unit img {
  max-height: 100px;
  display: block;
  margin: auto;
}
.comp_choice .wrapper .cc_unit:hover {
  border: 1px solid #95b2ea;
  background-color: #eaf0fb;
  -webkit-filter: grayscale(0%) !important;
  /* Chrome, Safari, Opera */
  filter: grayscale(0%);
}
.fp_competitions {
  padding: 10px 0;
  background-image: url('../images/BG.jpg');
}
.fp_competitions .wrapper {
  max-width: 1300px;
  margin: auto;
}
.fp_competitions .wrapper h3 {
  color: white !important;
}
.fp_competitions .wrapper .fpc {
  min-height: 100px;
  border-radius: 1px;
  border: 1px solid white !important;
  text-align: left;
  padding: 10px;
  margin: 10px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  color: white !important;
}
.fp_competitions .wrapper .fpc .fpcimg {
  display: block;
  margin: auto;
  opacity: 0.1;
  max-height: 150px;
  position: absolute;
  right: 15px;
  transform: rotate(10deg);
  bottom: 25px;
}
.fp_competitions .wrapper .fpc p {
  font-size: 20px;
  margin-top: 10px;
}
.fp_competitions .wrapper .fpc .score {
  position: absolute;
  right: 15px;
}
.fp_competitions .wrapper .clubs {
  text-align: left;
}
.fp_info {
  background-color: #f2f2f2;
  position: relative;
  bottom: 30px;
}
.fp_info .wrapper {
  max-width: 1300px;
  margin: auto;
}
.fp_info .wrapper h2 {
  text-align: center;
  margin-bottom: 10px !important;
  margin-bottom: 30px;
  padding: 0;
}
.messagebox,
.login,
.register,
.profile {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  right: -17px;
  padding-right: 10px;
  left: 0;
  bottom: 0;
  z-index: 999999;
  display: none;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
.messagebox .profile_box,
.login .profile_box,
.register .profile_box,
.profile .profile_box {
  max-width: 800px !important;
}
.messagebox .messagebox_body,
.login .messagebox_body,
.register .messagebox_body,
.profile .messagebox_body,
.messagebox .login_box,
.login .login_box,
.register .login_box,
.profile .login_box,
.messagebox .register_box,
.login .register_box,
.register .register_box,
.profile .register_box,
.messagebox .profile_box,
.login .profile_box,
.register .profile_box,
.profile .profile_box {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 10px #cccccc;
  padding: 25px;
  margin: 50px auto 140px auto;
  height: auto;
  max-width: 400px;
  width: 90%;
  position: relative;
  overflow-y: hidden;
}
.messagebox .messagebox_body .close,
.login .messagebox_body .close,
.register .messagebox_body .close,
.profile .messagebox_body .close,
.messagebox .login_box .close,
.login .login_box .close,
.register .login_box .close,
.profile .login_box .close,
.messagebox .register_box .close,
.login .register_box .close,
.register .register_box .close,
.profile .register_box .close,
.messagebox .profile_box .close,
.login .profile_box .close,
.register .profile_box .close,
.profile .profile_box .close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.messagebox .messagebox_body h4,
.login .messagebox_body h4,
.register .messagebox_body h4,
.profile .messagebox_body h4,
.messagebox .login_box h4,
.login .login_box h4,
.register .login_box h4,
.profile .login_box h4,
.messagebox .register_box h4,
.login .register_box h4,
.register .register_box h4,
.profile .register_box h4,
.messagebox .profile_box h4,
.login .profile_box h4,
.register .profile_box h4,
.profile .profile_box h4 {
  text-align: center;
}
.messagebox .messagebox_body form,
.login .messagebox_body form,
.register .messagebox_body form,
.profile .messagebox_body form,
.messagebox .login_box form,
.login .login_box form,
.register .login_box form,
.profile .login_box form,
.messagebox .register_box form,
.login .register_box form,
.register .register_box form,
.profile .register_box form,
.messagebox .profile_box form,
.login .profile_box form,
.register .profile_box form,
.profile .profile_box form {
  text-align: left;
}
.messagebox .messagebox_body form input,
.login .messagebox_body form input,
.register .messagebox_body form input,
.profile .messagebox_body form input,
.messagebox .login_box form input,
.login .login_box form input,
.register .login_box form input,
.profile .login_box form input,
.messagebox .register_box form input,
.login .register_box form input,
.register .register_box form input,
.profile .register_box form input,
.messagebox .profile_box form input,
.login .profile_box form input,
.register .profile_box form input,
.profile .profile_box form input {
  width: 100%;
}
.messagebox .messagebox_body form .login_btn,
.login .messagebox_body form .login_btn,
.register .messagebox_body form .login_btn,
.profile .messagebox_body form .login_btn,
.messagebox .login_box form .login_btn,
.login .login_box form .login_btn,
.register .login_box form .login_btn,
.profile .login_box form .login_btn,
.messagebox .register_box form .login_btn,
.login .register_box form .login_btn,
.register .register_box form .login_btn,
.profile .register_box form .login_btn,
.messagebox .profile_box form .login_btn,
.login .profile_box form .login_btn,
.register .profile_box form .login_btn,
.profile .profile_box form .login_btn {
  width: auto;
}
.messagebox .messagebox_body .decision,
.login .messagebox_body .decision,
.register .messagebox_body .decision,
.profile .messagebox_body .decision,
.messagebox .login_box .decision,
.login .login_box .decision,
.register .login_box .decision,
.profile .login_box .decision,
.messagebox .register_box .decision,
.login .register_box .decision,
.register .register_box .decision,
.profile .register_box .decision,
.messagebox .profile_box .decision,
.login .profile_box .decision,
.register .profile_box .decision,
.profile .profile_box .decision {
  margin-top: 65px;
  text-align: center;
}
.messagebox .messagebox_body .profile_pic,
.login .messagebox_body .profile_pic,
.register .messagebox_body .profile_pic,
.profile .messagebox_body .profile_pic,
.messagebox .login_box .profile_pic,
.login .login_box .profile_pic,
.register .login_box .profile_pic,
.profile .login_box .profile_pic,
.messagebox .register_box .profile_pic,
.login .register_box .profile_pic,
.register .register_box .profile_pic,
.profile .register_box .profile_pic,
.messagebox .profile_box .profile_pic,
.login .profile_box .profile_pic,
.register .profile_box .profile_pic,
.profile .profile_box .profile_pic {
  font-size: 160px;
  text-align: center !important;
  display: block;
  margin: auto;
  position: relative;
  top: 50px;
}
.messagebox .messagebox_body .user_fullname,
.login .messagebox_body .user_fullname,
.register .messagebox_body .user_fullname,
.profile .messagebox_body .user_fullname,
.messagebox .login_box .user_fullname,
.login .login_box .user_fullname,
.register .login_box .user_fullname,
.profile .login_box .user_fullname,
.messagebox .register_box .user_fullname,
.login .register_box .user_fullname,
.register .register_box .user_fullname,
.profile .register_box .user_fullname,
.messagebox .profile_box .user_fullname,
.login .profile_box .user_fullname,
.register .profile_box .user_fullname,
.profile .profile_box .user_fullname {
  text-align: left;
  color: black !important;
  font-weight: bold !important;
}
.messagebox .messagebox_body .lighter,
.login .messagebox_body .lighter,
.register .messagebox_body .lighter,
.profile .messagebox_body .lighter,
.messagebox .login_box .lighter,
.login .login_box .lighter,
.register .login_box .lighter,
.profile .login_box .lighter,
.messagebox .register_box .lighter,
.login .register_box .lighter,
.register .register_box .lighter,
.profile .register_box .lighter,
.messagebox .profile_box .lighter,
.login .profile_box .lighter,
.register .profile_box .lighter,
.profile .profile_box .lighter {
  color: #95b2ea;
}
.messagebox .social_login,
.login .social_login,
.register .social_login,
.profile .social_login {
  margin: auto;
  text-align: center;
}
.messagebox .social_login button,
.login .social_login button,
.register .social_login button,
.profile .social_login button {
  width: 100%;
}
.messagebox .social_login .fb,
.login .social_login .fb,
.register .social_login .fb,
.profile .social_login .fb {
  color: #95b2ea;
}
.messagebox .social_login .gp,
.login .social_login .gp,
.register .social_login .gp,
.profile .social_login .gp {
  color: #f34248;
}
.faq_item {
  margin-bottom: 30px;
}
.cp_item {
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  border: 1px solid white;
  transition: 50ms ease-in;
}
.cp_item h4 {
  margin-top: 10px;
}
.cp_item img {
  height: 100px;
  display: block;
  margin: auto;
}
.cp_item:hover {
  border: 1px solid #95b2ea;
  background-color: transparent;
}
.fs1 {
  margin-top: 40px;
}
.contact_form input {
  max-width: 400px;
  width: 100%;
  background-color: white;
  opacity: 0.5;
}
.contact_form textarea {
  max-width: 400px;
  width: 100%;
}
.btns_right_align {
  padding-top: 20px;
}
.capitalize {
  text-transform: capitalize;
}
.partners {
  text-align: center;
}
.partners .col {
  border: 1px solid transparent;
  transition: 75ms ease-in;
}
.partners .col img {
  max-height: 100px;
  padding: 20px 0;
}
input {
  border-color: #95b2ea !important;
}
footer {
  background-color: #404040;
  min-height: 150px;
  height: auto;
  padding: 40px 0;
}
footer .wrapper {
  width: 95%;
  max-width: 1300px;
  margin: auto;
  padding: 20px 0;
}
footer .wrapper .f_item {
  color: white;
}
footer .wrapper .f_item ul {
  list-style-type: none;
  margin: 0 !important;
}
footer .wrapper .f_item li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
footer .wrapper .f_item li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  content: "\f101";
  color: #8c8c8c;
}
footer .wrapper table td {
  padding: 0;
  border: none;
  padding-bottom: 2px;
  color: white;
}
footer .wrapper table td:nth-child(odd) {
  width: 30px;
}
footer .wrapper table td a {
  text-decoration: none;
  color: #95b2ea;
  transition: 50ms ease-in;
}
footer .wrapper table td a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .content {
    margin-top: 70px;
  }
  .nav {
    position: fixed;
    height: 70px;
  }
  .nav .wrapper .nav_logo {
    height: 60px;
    display: block;
    margin: auto;
    top: 3px;
  }
  .nav .wrapper .nav_btns {
    display: none;
  }
  .nav i {
    display: block;
  }
  .sub_nav {
    display: none;
  }
  .slider .s_content {
    padding-top: 40px;
  }
  .login .login_box,
  .register .login_box,
  .login .register_box,
  .register .register_box {
    margin: :auto;
  }
  .login .login_box form,
  .register .login_box form,
  .login .register_box form,
  .register .register_box form {
    text-align: center;
  }
  .login .login_box form input,
  .register .login_box form input,
  .login .register_box form input,
  .register .register_box form input {
    max-width: 400px;
  }
  .login .login_box form .login_btn,
  .register .login_box form .login_btn,
  .login .register_box form .login_btn,
  .register .register_box form .login_btn {
    width: 100%;
    max-width: 350px !important;
    overflow-y: auto;
  }
  .login .login_box .decision,
  .register .login_box .decision,
  .login .register_box .decision,
  .register .register_box .decision {
    margin-top: 1px;
    margin-bottom: 20px;
  }
  .login .login_box .social_login button,
  .register .login_box .social_login button,
  .login .register_box .social_login button,
  .register .register_box .social_login button {
    max-width: 400px;
  }
  .user_info {
    text-align: center;
  }
  .user_fullname {
    text-align: center !important;
  }
  .profile_pic {
    top: 0px !important;
  }
}
@media screen and (min-width: 768px) {
  .mobile_menu {
    display: none !important;
  }
}
.alert.success {
  position: absolute;
  top: 20%;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 800px;
  width: 100%;
  opacity: 1.0;
  z-index: 999999;
}
.btn_blue {
  border: 1px solid #7d99ca;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #a5b8da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
  background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
  background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a5b8da, endColorstr=#7089b3);
}
.btn_blue:hover {
  border: 1px solid #5d7fbc;
  background-color: #819bcb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), to(#536f9d));
  background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
  background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
  background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
  background-image: -o-linear-gradient(top, #819bcb, #536f9d);
  background-image: linear-gradient(to bottom, #819bcb, #536f9d);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#819bcb, endColorstr=#536f9d);
}
.cycle-slideshow {
  position: relative;
}
.cycle-slideshow div {
  width: 100%;
  position: relative;
}
.cycle-pager {
  text-align: center;
  width: 100%;
  z-index: 500;
  position: absolute;
  bottom: 50px;
  overflow: hidden;
}
.cycle-pager span {
  font-size: 50px;
  width: 16px;
  height: 16px;
  display: inline-block;
  color: #727272;
  cursor: pointer;
}
.cycle-pager span.cycle-pager-active {
  color: #95b2ea;
}
.cycle-pager > * {
  cursor: pointer;
}
